<form method="POST">
<div><b> Prior </b></div>
{{ form.prior.select_distribution_family.label }} {{ form.prior.select_distribution_family(onchange="display_fields_prior()") }}

<div id = "prior-normal-field"> {{ form.prior.normal.label }} {{ form.prior.normal }} </div>

<div id = "prior-lognormal-field"> {{ form.prior.lognormal.label }} {{ form.prior.lognormal }} </div>

<div id = "prior-beta-field"> {{ form.prior.beta.label }} {{ form.prior.beta }} </div>

<div id = "prior-uniform-field"> {{ form.prior.uniform.label }} {{ form.prior.uniform }} </div>


<br><div><b> Likelihood </b></div>

{{ form.likelihood.select_distribution_family.label }} {{ form.likelihood.select_distribution_family(onchange="display_fields_likelihood()") }}

<div id = "likelihood-normal-field"> {{ form.likelihood.normal.label }} {{ form.likelihood.normal }} </div>

<div id = "likelihood-lognormal-field"> {{ form.likelihood.lognormal.label }} {{ form.likelihood.lognormal }} </div>

<div id = "likelihood-beta-field"> {{ form.likelihood.beta.label }} {{ form.likelihood.beta }} </div>

<div id = "likelihood-uniform-field"> {{ form.likelihood.uniform.label }} {{ form.likelihood.uniform }} </div>

<br>
	<input type="submit"> 
</form>

{{graph|safe}}

<div id=percentiles_message></div>

<div id="percentiles_status"></div>
<div id="percentiles_result"></div>

<script>


function httpGetAsync(theUrl, callback){
    console.log("get request function called");
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    };
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}

function check_on_background_task(thread_id) {
    console.log('check function called!');
        httpGetAsync('/get-result/'+thread_id, function(data)
        {
          var d = JSON.parse(data);
            d.result = String(d.result);
            d.status = String(d.status);

          document.getElementById("percentiles_status").innerHTML = "status: "+d.status;
            if (d.status == 'RUNNING' || d.status == 'null' ) {
                setTimeout(check_on_background_task,1000,thread_id);
            }
            else if (d.status == 'done') {
                document.getElementById("percentiles_result").innerHTML = "result: "+d.result;
            }        
        });
}

//two curly braces to use parameters passed into render_template
if ( {{check_on_background_task}}==1 ) {
check_on_background_task( {{thread_id}} )
}
if ({{check_on_background_task}}==1) {
document.getElementById("percentiles_message").innerHTML = "Percentiles of posterior distribution will be shown below:"
}



function display_fields_prior() {
  var x = document.getElementById("prior-select_distribution_family").value;
  
  // first hide all fields
  document.getElementById("prior-normal-field").style.display = "none" ;
  document.getElementById("prior-lognormal-field").style.display = "none" ;
  document.getElementById("prior-beta-field").style.display = "none" ; 
  document.getElementById("prior-uniform-field").style.display = "none" ;



  // then display the selected field
  if (x == "normal") {
  document.getElementById("prior-normal-field").style.display = "block";
  }

  if (x == "lognormal") {
  document.getElementById("prior-lognormal-field").style.display = "block";
  }

  if (x == "beta") {
  document.getElementById("prior-beta-field").style.display = "block";
  }

  if (x == "uniform") {
  document.getElementById("prior-uniform-field").style.display = "block";
  }
}

function display_fields_likelihood() {
  var x = document.getElementById("likelihood-select_distribution_family").value;
  
  // first hide all fields
  document.getElementById("likelihood-normal-field").style.display = "none" ;
  document.getElementById("likelihood-lognormal-field").style.display = "none" ;
  document.getElementById("likelihood-beta-field").style.display = "none" ; 
  document.getElementById("likelihood-uniform-field").style.display = "none" ;

  // then display the selected field
  if (x == "normal") {
  document.getElementById("likelihood-normal-field").style.display = "block";
  }

  if (x == "lognormal") {
  document.getElementById("likelihood-lognormal-field").style.display = "block";
  }

  if (x == "beta") {
  document.getElementById("likelihood-beta-field").style.display = "block";
  }

  if (x == "uniform") {
  document.getElementById("likelihood-uniform-field").style.display = "block";
  }
}

// run it once at the beginning
display_fields_prior()  
display_fields_likelihood()  

</script>
