<h1>Bayesian update with continuous prior and likelihood</h1>

</div>
<form method="POST">
<div><b> Prior </b></div>
{{ form.prior.family.label }} {{ form.prior.family(onchange="display_fields_prior()") }}

<div id = "prior-normal-field"> {{ form.prior.normal.label }} {{ form.prior.normal }} </div>

<div id = "prior-lognormal-field"> {{ form.prior.lognormal.label }} {{ form.prior.lognormal }} </div>

<div id = "prior-beta-field"> {{ form.prior.beta.label }} {{ form.prior.beta }} </div>

<div id = "prior-uniform-field"> {{ form.prior.uniform.label }} {{ form.prior.uniform }} </div>


<br><div><b> Likelihood </b></div>

{{ form.likelihood.family.label }} {{ form.likelihood.family(onchange="display_fields_likelihood()") }}

<div id = "likelihood-normal-field"> {{ form.likelihood.normal.label }} {{ form.likelihood.normal }} </div>

<div id = "likelihood-lognormal-field"> {{ form.likelihood.lognormal.label }} {{ form.likelihood.lognormal }} </div>

<div id = "likelihood-beta-field"> {{ form.likelihood.beta.label }} {{ form.likelihood.beta }} </div>

<div id = "likelihood-uniform-field"> {{ form.likelihood.uniform.label }} {{ form.likelihood.uniform }} </div>

    <br>
    {{form.graphrange.label}}
    {{form.graphrange}}

    <br>
    {{form.custompercentiles.label}}
    {{form.custompercentiles}}

<br><br>
	<input type="submit"> 
</form>

{{graph|safe}}

{% if check_on_background_task==1 %}
<br>

<div id=percentiles_exact_message></div>
<div id="percentiles_exact_status">Status: waiting for status</div>
<div id="percentiles_exact_result"></div>

<br>

<!-- <div id=percentiles_mcmc_message></div>
<div id="percentiles_mcmc_status">Status: waiting for status</div>
<div id="percentiles_mcmc_result"></div> -->

{% endif %}

{% if link_to_this %}
<div> Link to this page: <a href="{{ link_to_this }}"> https://bayes-continuous.herokuapp.com{{ link_to_this }} </a>  </div>
{% endif %}
</div>

<br>
<div style="max-width: 45em">
Define the prior and likelihood distributions above. More distribution types could be added if there is sufficient
interest. One use case that may be of particular interest is updating a prior on a parameter B based on b, an estimate of B from a study. The
likelihood distribution will typically be a normal distribution, centered around b with a standard deviation equal to the standard error of b.
If the parameter is a ratio, its error distribution converges to normality slowly but the error distribution of log(b) converges faster,
and is often used. In this case, you could use a lognormal likelihood function, or take logs of both prior and likelihood to perform the update,
and exponentiate the results back. <a href="https://repl.it/@tmkadamcz/conversions-for-hypothesis-tests#main.py">This tool</a> may be
helpful for converting between 95% confidence intervals, standard errors, and p-values.
</div>

<br>
<div> By Tom Adamczewski. Feedback? <a href="mailto:tmkadamcz@gmail.com">tmkadamcz@gmail.com</a></div>
<script>


function httpGetAsync(theUrl, callback){
    console.log("get request function called");
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
    };
    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
    xmlHttp.send(null);
}

function check_on_background_task(thread_id,exact_or_mcmc) {
    console.log('check function called!');

        httpGetAsync('/get-result/'+thread_id, function(data)
        {
          var d = JSON.parse(data);
            d.result = String(d.result);
            d.status = String(d.status);

            
            if (d.status == 'done') {
              document.getElementById("percentiles_"+exact_or_mcmc+"_status").innerHTML = "status: "+d.status;

                document.getElementById("percentiles_"+exact_or_mcmc+"_result").innerHTML = "result: "+d.result;
            }
            else if (d.status == 'RUNNING') {
                document.getElementById("percentiles_"+exact_or_mcmc+"_status").innerHTML = "status: "+d.status;

                setTimeout(check_on_background_task,1000,thread_id,exact_or_mcmc); //recursive call
            }
            else if (d.status == 'null') {
                setTimeout(check_on_background_task,1000,thread_id,exact_or_mcmc); //recursive call; this shouldn't be needed but for heroku weirdness
            }        
        });
}

//two curly braces to use parameters passed into render_template
if ( {{check_on_background_task}}==1 ) {
// check_on_background_task( {{thread_id_mcmc}},'mcmc');
check_on_background_task( {{thread_id_exact}},'exact');
}

if ({{check_on_background_task}}==1) {
document.getElementById("percentiles_exact_message").innerHTML = "Percentiles of posterior distribution:";
// document.getElementById("percentiles_mcmc_message").innerHTML = "Percentiles of posterior distribution (MCMC):"

}



function display_fields_prior() {
  var x = document.getElementById("prior-family").value;
  
  // first hide all fields
  document.getElementById("prior-normal-field").style.display = "none" ;
  document.getElementById("prior-lognormal-field").style.display = "none" ;
  document.getElementById("prior-beta-field").style.display = "none" ; 
  document.getElementById("prior-uniform-field").style.display = "none" ;



  // then display the selected field
  if (x == "normal") {
  document.getElementById("prior-normal-field").style.display = "block";
  }

  if (x == "lognormal") {
  document.getElementById("prior-lognormal-field").style.display = "block";
  }

  if (x == "beta") {
  document.getElementById("prior-beta-field").style.display = "block";
  }

  if (x == "uniform") {
  document.getElementById("prior-uniform-field").style.display = "block";
  }
}

function display_fields_likelihood() {
  var x = document.getElementById("likelihood-family").value;
  
  // first hide all fields
  document.getElementById("likelihood-normal-field").style.display = "none" ;
  document.getElementById("likelihood-lognormal-field").style.display = "none" ;
  document.getElementById("likelihood-beta-field").style.display = "none" ; 
  document.getElementById("likelihood-uniform-field").style.display = "none" ;

  // then display the selected field
  if (x == "normal") {
  document.getElementById("likelihood-normal-field").style.display = "block";
  }

  if (x == "lognormal") {
  document.getElementById("likelihood-lognormal-field").style.display = "block";
  }

  if (x == "beta") {
  document.getElementById("likelihood-beta-field").style.display = "block";
  }

  if (x == "uniform") {
  document.getElementById("likelihood-uniform-field").style.display = "block";
  }
}

// run it once at the beginning
display_fields_prior()  
display_fields_likelihood()  

</script>
